body { height: 100%; }

body {
	display: table;
	width: 100%;
}

.page-row{
	display: table-row;
	position: absolute;
	bottom: 1%;
	text-align: left;
}

.footerClass{
	background-color: rgb(0,0,0);
	color: white;
	text-align: center;
	width: 100vw;
	position: relative;
}

.page-row-expanded{ height: 100%;
	position: relative;
	text-align: center; }