.complete-login-form{
  position: fixed;
  top: 50%;
  left: 50%;
  
  /* The translate value for transform is based off the size of the element, 
  so that will center nicely. */
  transform: translate(-50%, -50%);
}

/*mobile landscape*/
@media(max-width:668px) 
{
.control-group{
font-size: 25px;
  }

/*mobile portrait*/
@media(max-width:376px)
{
.control-group{
font-size: 25px;
  }	
}

