/*MAIN CONTENT*/
.content {
	/*Needs testing*/
	min-height: 80vh;
}

/*Header*/



/*FOOTER*/

.convert-navbar-to-footer {
	margin: 0;
	height: 100px;
	margin-top: 20px;
}

.footer-content {
	color: white;
	padding-top: 20px;
	text-align: center;
}



/*LOGIN*/
.login-container{

  max-width: 400px;

  margin: auto;
}

#clickMe{
  width:100%;
  padding: 10px;
  margin-top: 6%;
  border: 0;
}





/*TEST-PAGE*/

.list-group>.list-group-item>a {
	color: black;
}

.button-right>button{
	float: right;
	margin-left: 2px;
}

/*RESULT-PAGE*/

.dropdown-menu{
	margin-left: 27%;
}