/*FOOTER*/

.convert-navbar-to-footer {
	margin: 0;
	height: 100px;
}

.footer-content {
	color: white;
	padding: 2% 2%;
	text-align: center;
}

/*LOGIN*/

.complete-login-form{
  position: fixed;
  top: 50%;
  left: 50%;
  
  /* The translate value for transform is based off the size of the element, 
  so that will center nicely. */
  transform: translate(-50%, -50%);
}

/*TEST-PAGE*/

.list-group>.list-group-item>a {
	color: black;
}

.button-right>button{
	float: right;
	margin-left: 2px;
}