.answers input {
	display: inline-block;
}

label, .psuedo-label {
	margin-top: 15px;
}

.side-bar {
	border: 2px solid black;
	height: 80vh;
}

.side-bar-content {
	height: 70vh;
}

.side-bar-button-group {
	position: absolute;
	bottom: 1%;
}

.side-bar-button-group button {
	margin-bottom: 1%;
}

