HeaderFooter.addTemplate('default', function(){return `

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Newton Testing Tool</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--No navigation needen at this time-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Logged in as: <span>${sessionStorage.loggedInName}</span></a>
        <li data-click="logout"><a>Sign out</a></li>
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="content">
    <!-- Other templates will load here --> 
  </div>
</div>

<nav class="navbar navbar-default convert-navbar-to-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="footer-content col-sm-4">© Newton Testverktyg Grupp 1<br>Agneslundsvägen 14C<br>
212 15 Malmö</div>
      <div class="col-sm-4"></div>
    </div>
</div>
</nav>
    
`});