LoginView.addTemplate('default', function(){return `

<div class ="container">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-md-offset-5"</div>
        <label for="inputEmail">Email</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 col-md-offset-5"</div>
        <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="row">
    <div class="control-group">
    <div class="col-sm-12 col-md-2 col-md-offset-4"></div>
      <div class="controls">
        <button id="clickMe" type="button" class="btn btn-primary" data-click="checkIt">Sign in</button>
      </div>
    </div>
    </div>
</div>

`});