Question.addTemplate('default', function(){return `
    <div class="psuedo-label">Who is Swedens prime minister?</p>
        <div>
          <input type="radio" name="question" id="id1" value="spring"><label for="id1">Donald Trump</label>
        </div>
        <div>
          <input type="radio" name="question" id="id2" value="summer"><label for="id2">Stefan Löfven</label>
        </div>
        <div>
          <input type="radio" name="question" id="id3" value="autumn"><label for="id3">Bujamin Saliu</label>
        </div>
        <div>
          <input type="radio" name="question" id="id4" value="winter"><label for="id4">Fredrik Reinfeldt</label>
        </div>
    </div>  
  `});