skeleton.template = function() { 

return `


<nav class="navbar navbar-inverse"> <!-- Create a fluid navbar from Bootstrap -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newtons Testverktyg</a>
    </div>
    <ul class="nav navbar-nav">
      <li>Du är inloggad som: ${this.firstName} ${this.lastName}</li>
    </ul>
  </div>
</nav>

<main class="page-row page-row-expanded"> <!-- Put the content for body here -->
    ${this.content}
</main>

<!-- Begin page content -->
<footer class="page-row footerClass">
    ${this.footer}
</footer>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
`}