Test.addTemplate('default', function(){return `
  


  <div class="page-header">
    <h1>${this.test_name}</h1>
  </div>
  <div class="row">
    <div class="col-sm-3 col-xs-12 hidden-xs side-bar">
      <div class="side-bar-content">
        <ul class="list-group">
          <!--Active för mockup-purpose -->
          ${this.sidebaritems.display()}
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 question">
      
      ${this.questions.display()}

      
    </div>
    
    <div class="col-sm-3 col-xs-12 side-bar">
      <div class="side-bar-content">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 button-left">
      <button id="PreviousButton" type="button" class="btn">Previous</button>
      <button id="NextButton" type="button" class="btn">Next</button>
    </div>
    <div class="col-xs-6 button-right">
      <button id="FinishButton" type="button" class="btn">Finish test</button>
    </div>  
  </div>
`});