<div class ="container-fluid">
		<div class="row">
			<div class ="container-fluid">
				<div class="row">
					<div class="col-md-2 side-bar">
						<div class="side-bar-content">
							<ul class="list-group">
								<li class="list-group-item"><a href="javascript:;">Fråga 1</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 2</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 3</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 4</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 5</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 6</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 7</a></li>
								<li class="list-group-item"><a href="javascript:;">Fråga 8</a></li>
							</ul>
						</div>
						<div class="side-bar-button-group">
							<button type="button" class="btn">Finish test</button>
						</div>
					</div>
					<div class="col-md-8">
						<h1>Fråga 1</h1>
						<div class="psuedo-label">Vem är Sveriges stadsminister?</p>
							<div>
								<input type="radio" name="question" id="id1" value="spring"><label for="id1">Donald Trump</label>
							</div>
							<div>
								<input type="radio" name="question" id="id2" value="summer"><label for="id2">Stefan Löfven</label>
							</div>
							<div>
								<input type="radio" name="question" id="id3" value="autumn"><label for="id3">Bujamnin Saliu</label>
							</div>
							<div>
								<input type="radio" name="question" id="id4" value="winter"><label for="id4">Fredrik Reinfeldt</label>
							</div>
						</div>	
					</div>
					<div class="col-md-2 side-bar">
						<div class="side-bar-content"></div>
						<div class="side-bar-button-group">
							<button type="button" class="btn">Previous</button>
							<button type="button" class="btn">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>