Test.addTemplate('default', function(){return `
  


  <div class="page-header">
    <h1>${this.test_name}</h1>
  </div>
  <div class="row">
    <div class="col-sm-3 col-xs-12 hidden-xs side-bar">
      <div class="side-bar-content">
        <ul class="list-group">
          <!--Active för mockup-purpose -->
          ${this.sidebaritems.display()}
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 question">
      
      ${this.questions.display()}

      
    </div>
    
    <div class="col-sm-3 col-xs-12 side-bar">
      <div class="side-bar-content">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 button-left">
      <button id="clickPrevious" type="button" class="btn btn-primary" data-click="previous">Previous</button>
      <button id="clickNext" type="button" class="btn btn-primary" data-click="next">Next</button>
    </div>
    <div class="col-xs-6 button-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finishTest">
  Finish
</button>

<div class="modal fade" id="finishTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Finish test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to finish the test?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </div>  
  </div>
`});

