<div class ="container-fluid">
	<div class="row">
		<div class ="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<ul class="list-group">
					<li class="list-group-item"><a href="javascript:;">Cras justo odio</a></li>
					<li class="list-group-item"><a href="javascript:;">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="javascript:;">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="javascript:;">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="javascript:;">Vestibulum at eros</a></li>
					<li class="list-group-item"><a href="javascript:;">Cras justo odio</a></li>
					<li class="list-group-item"><a href="javascript:;">Dapibus ac facilisis in</a></li>
					<li class="list-group-item"><a href="javascript:;">Morbi leo risus</a></li>
					<li class="list-group-item"><a href="javascript:;">Porta ac consectetur ac</a></li>
					<li class="list-group-item"><a href="javascript:;">Vestibulum at eros</a></li>
				</ul>
			</div>
			<div class="col-md-8">
				<h1>Fråga 1</h1>
				<div class="psuedo-label">Vem är Sveriges stadsminister?</p>
					<div>
						<input type="radio" name="question" id="id1" value="spring"><label for="id1">Donald Trump</label>
					</div>
					<div>
						<input type="radio" name="question" id="id2" value="summer"><label for="id2">Stefan Löfven</label>
					</div>
					<div>
						<input type="radio" name="question" id="id3" value="autumn"><label for="id3">Bujamnin Saliu</label>
					</div>
					<div>
						<input type="radio" name="question" id="id4" value="winter"><label for="id4">Fredrik Reinfeldt</label>
					</div>
				</div>	
				<div class="col-md-2">

				</div>
			</div>
		</div>
	</div>
</div>